/* This is a CSS code snippet defining styles for a product card component. Here's a breakdown of what
each part of the code is doing: */
.product-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-image {
  width: 535px;
  height: auto;
  display: inline-block;
  aspect-ratio: 4/3;
}

.list-container-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-card-subtitle {
  color: #ffbe47;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.product-card-button {
  border: none;
  position: relative;
  top: 25%;
  color: #ffff;
  border-radius: 50px;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.product-card-list {
  display: flex;
  padding-bottom: 0.3rem;
  justify-content: center;
}

.icon-dropicard {
  padding-top: 3px;
}

.product-card-text {
  padding-left: 7px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
  color: #3d3d3d;
  width: 435px;
}

@media screen and (max-width: 427px) {
  .product-card-container {
    padding-top: 20px;
    flex-direction: column-reverse;
  }

  .product-image {
    width: 100%;
  }

  .product-card-subtitle {
    font-size: 28px;
  }

  .product-card-button {
    font-size: 20px;
    padding: 2px 20px;
  }

  .product-card-list {
    padding-inline: 0;
  }

  .product-card-text {
    width: 270px;
    font-size: 15px;
  }

  .text-list {
    font-size: 17px;
    font-weight: 400;
  }
}

@media screen and (min-width: 1024px) {
  .product-card-container {
    margin-top: 5vh;
  }
}
