/* The provided code snippet is a CSS code block defining styles for a registration form or container.
Here's a breakdown of what each part of the code is doing: */
.register-container {
  padding: 40px 16px 32px;
}

.register-title {
  text-align: center;
  font-size: 28px;
  color: #ec6f2d;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  font-weight: 700;
}

.register-container-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-top: 1rem;
}

.register-container-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-image {
  width: 64px;
}

.register-country-name {
  text-transform: uppercase;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  color: #ec6f2d;
}

.register-country-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 600;
  background-color: #ec6f2d;
  border: none;
  border-radius: 15px;
  padding: 7px 10px;

}

.register-country-button:hover {
  outline: 4px solid #f5ad85;
}

@media screen and (max-width: 427px) {
  .register-country-name {
    padding: 0;
  }
}