/* This CSS code is styling a dropshipper card container and a dropshipper seller section. Here's a
breakdown of what each part of the code is doing: */

.dropshipper-card-container {
  display: flex;
  text-align: center;
  padding-inline: 15%;
  justify-content: space-around;
  padding-bottom: 4rem;
}

.dropshipper-card-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropshipper-card-container div img {
  max-width: 96px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.dropshipper-card-container article h3 {
  color: #101f31;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  max-width: 170px;
}

/* dropshipper-seller */
.dropshipper-seller {
  background-color: #F39A3D;
  text-align: center;
  padding-block: 4rem;
  margin-bottom: 4rem;
}

.dropshipper-seller h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

@media screen and (max-width: 427px) {
  .dropshipper-card-container {
    flex-wrap: wrap;
    padding-inline: 10px;
  }
}