@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateX(0px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.whatsapp-image {
  position: fixed;
  width: 60px;
  bottom: 2%;
  right: 1%;
  background-color: #ffffff;
  border-radius: 50%;
  border-color: #000000;
  animation: aparecer 3s ease-in-out;
}

.whatsapp-href {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .6;
  }
}