.proveedores-carousel-container {
  padding-top: 64px;
  padding-bottom: 1rem;
  background-color: #000;
  cursor: pointer;
  text-align: center;
  padding-bottom: 20rem;
}

.text-container-proveedores {
  display: flex;
  justify-content: center;
}

.proveedores-slide-container {
  padding-inline: 168px;
}

.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.carousel li {
  display: flex;
  justify-content: center;
}

.react-multiple-carousel__arrow--right {
  background-color: transparent !important;

}

.react-multiple-carousel__arrow--left {
  background-color: transparent !important;

}

.div-carousel {
  display: flex;
  margin-left: 5rem;
  margin-right: 3rem;
}

.image-proveedores {
  height: 170px;
}

.container-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #C6AE65;
  min-height: 315px;
  gap: 20px;
  margin: 20px;
}

.text-slide-proveedores {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  background: #212323;
  padding-inline: 15px;
  padding-block: 4px;
  border-radius: 8px;
  text-align: center;
  width: 70%;
}



.button-carousel-proveedores {
  color: #fff;
  font-size: 38px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 4rem;
  border-radius: 50px;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: 5px solid transparent;
  border-color: #A07924;
  width: fit-content;
}

.button-carousel-proveedores span {
  color: #ec6f2d;
}

@media screen and (min-width:1200px) {
  .proveedores-carousel-container {
    padding: 100px;
    padding-bottom: 12rem;
  }
}

@media screen and (max-width: 1000px) {
  .proveedores-carousel-container {
    padding-bottom: 60px;
  }

  .carousel button {
    /* padding-top: 20px; */
    /* margin: -35px; */
  }

  .proveedores-slide-container {
    padding: 0;
  }

  .image-proveedores {
    /* height: 80px;
    width: calc(100% - 20px); */
  }

  .react-multi-carousel-item {
    /* width: auto!important; */
  }

  .proveedores-slide-container {
    /* padding: 0 20px;
    display: flex;
    gap: 10px; */
  }

  /* .react-multi-carousel-item {
  width: 380px !important;
  } */
}