.containerContact{
    gap: 16px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
}

.contactContainerTitle{
    text-align: center;
    margin-top: 4.3rem;
    margin-bottom: 10px;
    /* align-items: center; */
}
.contactTitle{
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #ec6f2d;
    border-radius: 48px 48px 48px 48px;
    padding: 10px 20px;
 
}
.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;

    margin-bottom: 0px;
}
.form-container input{
    border-width: 1px;

    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid #69727d;
    flex-grow: 1;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 21px;
    color: #1a1c1e;
    font-weight: 400;
    transition: border-color 0.3s;
}
.form-container textarea{
    border-width: 1px;

    height: 80px;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid #69727d;
    flex-grow: 1;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 21px;
    color: #1a1c1e;
    font-weight: 400;
    transition: border-color 0.3s;
}
.form-container select{
    line-height: 24px;
    border-width: 1px;

    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid #69727d;
    flex-grow: 1;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
    font-weight: 500;
    transition: border-color 0.3s;
}
.form-container label{
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #3d3d3d;
    padding-bottom: 8px;
}

/* Button send */
.buttonSend{
    width: 100%;
    margin-right: 190px;
    margin-left: 190px;
    margin-bottom: 1rem;
    padding: 1rem 0px;
    background-color: #ec6f2d;
    border-radius: 30px;
    border: 1px solid #ec6f2d;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
.buttonSend:hover{
    cursor: pointer;
}
.buttonWhatsapp{
    display: flex;

    margin: 100px 20px 50px 20px;
    padding: 20px 40px;
    background-color: #21AB54;
    border-radius: 48px;
    border: 1px solid #21AB54;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}

@media screen and (max-width: 427px) {
    .containerContact{
    padding: 20px;
    }
    .buttonWhatsapp{
        margin: 20px;
    }
}