.carousel-container{
    padding-top: 64px;
    padding-bottom: 1rem;
}
.carousel-container h5{
    font-size: 20px;
    font-weight: 700;
    color: #ec6f2d;
    text-transform: uppercase;
    text-align: center;
}
.slide-container{
    height: 92.55px;
}
.carousel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
} 
.carousel li{
    display: flex;
    justify-content: center;
}   
.carousel button{
    margin: -40px;
}
.react-multiple-carousel__arrow--right {
    color: red !important;
    background-color: white !important;
}
.react-multiple-carousel__arrow--right::before{
    color:#ec6f2d !important;
}
.react-multiple-carousel__arrow--left{
    background-color: white !important;
}
.react-multiple-carousel__arrow--left::before{
    color: #ec6f2d !important;
}
.react-multi-carousel-dot button{
    width: 10px !important;
    height: 10px !important;
    background: #FFCAAB;
    border-color: #ffffff !important;
    color: #ec6f2d;
}
.react-multi-carousel-dot--active button{
    background-color: #ec6f2e !important;
}
.div-carousel{
    display: flex;
    margin-left: 5rem;
    margin-right: 3rem;
}
/* .image{
    width: 98.33px;
    height: 65.55px;
} */

@media screen and (min-width:1200px){
    .carousel-container{
        padding: 100px;
    }
}