.main-card-container{
    box-sizing: border-box;
    margin-top: 46px;
    padding-bottom: 32px;
}
.main-card-action{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}
.card-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 41%;
    flex-wrap: wrap;
    gap: 8px;
}
.main-card-image{
    width: 48px;
    height: 49px;

}
.main-card-paragraph{
    font-family: 'Montserrat', sans-serif;
    padding-top: .7rem;
    font-size: 16px;
    font-weight: 500;
    color: #3d3d3d;
}